/* CSS tùy chỉnh cho các thành phần trên trang */
.card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease, filter 0.3s ease; /* Thêm hiệu ứng sáng cho hình ảnh */
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    filter: brightness(1.1); /* Làm sáng hình ảnh khi hover */
}
/* Tùy chỉnh khoảng cách giữa các thẻ */
.row.g-4 {
    margin-bottom: 40px;
}
